.view-listing {
  display: flex;
  flex-direction: row;
  max-width: 1024px;
  margin: 0 auto;
  border-top: 1px solid lightgray;
  padding-top: 3rem;
  padding-bottom: 3rem;
  & h2 {
    color: #000;
    font-weight: 700;
  }
}

.listing-form-container {
  width: 35%;
  margin-right: auto;
  @media (max-width: 900px) {
    width: 90%;
    margin-right: 0px;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
    border-bottom: 1px solid lightgrey;
  }

  & .listing-form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-left: 0px;
    & input {
      width: 100%;
      height: 3rem;
      border-radius: 8px;
      border: 1px solid lightgrey;
      margin: 1rem 0px;
      &::placeholder {
        padding-left: 10px;
      }
    }
    & .addition {
      font-weight: 700;
      cursor: pointer;
    }
    & label {
      font-size: 1.5rem;
      margin: 0px;
    }
    & button {
      width: 100%;
      padding: 0.7rem 0px;
      border-radius: 10px;
      border: none;
      background-color: #8d87ff;
      color: #fff;
      margin-top: 2rem;
    }
  }
}

.listings {
  width: 58rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  @media (max-width: 900px) {
    width: 90%;
  }
  & > div {
    width: 30%;
    & h3 {
      font-weight: 700;
      font-size: 1.4rem;
    }
    & img {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
}

//scrollbar stylings for desktop view

.scroll-line {
  width: 5px !important;
  height: 100vh;
  overflow-y: visible;
  background-color: #000;
}
.list1::-webkit-scrollbar-thumb {
  height: 50px;
}
.view-listing-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  &:after {
    display: block;
    content: "";
    background: #000;
    height: 88vh;
    width: 1px;
    position: relative;
    right: 6px;
    top: 40px;
    @media (max-width: 900px) {
      display: none;
    }
  }
}

.list1 {
  overflow-y: scroll;
  height: 100vh;
  -webkit-overflow-scrolling: touch;
  @media (max-width: 900px) {
    overflow: hidden;
  }
}

@media (min-width: 900px) {
  .list1::-webkit-scrollbar-track {
    border-radius: 10px;
    width: 50px;
  }
  .list1::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }
  .list1::-webkit-scrollbar-thumb {
    //background-image: url("./Images/circle.svg");
    background-position: center;
    background-size: cover;
    height: 50px;
    background-color: #000;
    border-top: 40px solid #fff;
    border-bottom: 38px solid #fff;
  }
}
//end scrollbar styings
