.profile-pic {
  width: 145px;
  height: auto;
  max-width: 100%;
  cursor: pointer;
}

.profile-edit-text {
  font-weight: 700;
  line-height: 2 !important;
  cursor: pointer;
}

.edit-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
