.register {
    width: 100%;
    background: url('https://images.unsplash.com/photo-1504610926078-a1611febcad3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80') no-repeat center center fixed; 
    background-size: cover;
    padding-top: 63px;
    padding-bottom: 63px;
    & p {
        text-align: center;
    }

    &-container {
        max-width: 519px;
        width: 70%;
        border-radius: 8px;
        background-color: #FFFFFF;
        margin: 0 auto;
    }

    &-heading {
        text-align: center;
        font-size: 3rem;
        line-height: 23px;
        padding-top: 73px;
     
    }

    &-label {
        font-size: 1.9rem;
        color: #363636;
        padding: 1rem;
    }

    &-form {
        max-width: 320px;
        width: 70%;
        margin: 0 auto;
    }

    &-input {
        background-color: #F2F2F2;
        border: none;
        color: $medium-gray;
        border-radius: 2.5px;
        padding: 6px 10px;
        font-size: 2rem;
        margin: 1rem 0px;

        &::placeholder {
            color: $medium-gray;
        }
    }

    &-submit {
        margin: 56px auto;
        width: 100%;
        background-color: #292F36;
        font-size: 2.2rem;
        border: none;
        color: #FFFFFF;
        padding: 16px;
        border-radius: 4px;
        border: 3px solid #292F36;
        

        &:hover {
            background: #FFFFFF;
            border: 3px solid #292F36;
            border-radius: 4px;
            color:  #292F36;
            
        }
    }

    &-agreement {
        padding-bottom: 30px;
        font-size: 1.5rem;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: $light-gray;
    }

    &-link {
        color: $purple;
        font-weight: 700;

        &:hover {
            color: $purple-light;
            text-decoration: none;
        }
    }

    &-footer {
        font-size: 2.2rem;
        color: $light-gray;
        text-align: center;
    }
}

//RESPONSIVE

@media (max-width: 700px) {
    .register {
        padding-bottom: 50px;
    }

    .register-container {
        width: 80%;
    }

    .register-heading {
        padding-top: 40px;
        font-size: 2.5rem;

    }

    .register-heading p {
        font-size: inherit;
    }

    .register-label {
        font-size: 1.6rem;
    }

    .register-submit {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 1.8rem;
        padding: 13px;
    }

    .register-agreement {
        font-size: 1.4rem;
    }

    .register-footer {
        font-size: 1.9rem;
    }
}
