.register {
    width: 100%;
    background: url('https://images.unsplash.com/photo-1504610926078-a1611febcad3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80') no-repeat center center fixed; 
    background-size: cover;
    padding-top: 63px;

    &-container {
        max-width: 519px;
        width: 70%;
        border-radius: 8px;
        background-color: #FFFFFF;
        margin: 0 auto;
    }

    &-heading {
        text-align: center;
        font-size: 3rem;
        line-height: 23px;
        padding-top: 73px;
    }

    &-label {
        font-size: 1.9rem;
        color: #363636;
    }

    &-form {
        max-width: 320px;
        width: 70%;
        margin: 0 auto;
    }
}
// .register-form {
//     display: flex;
//     flex-direction: column;
//     width: 75%;
//     justify-content: center;
//     margin: 0 auto;
//     & input {
//         height: 2rem;
//         font-size: .8rem;
//         width: 50%;
//         max-width: 25rem;
//         margin: 0 auto;
//     }
//     & button {
//         margin: 0 auto;
//         margin-top: 1rem;
//         height: 2rem;
//     }
//     .back {
//         background-color: red;
//     }
// }