.footer {
    background: $medium-gray;
    
    &-content {
        width: 80%;
        max-width: 1024px;
        margin: 0 auto;
        color: white;
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 25px;
        padding-top: 15px;
        padding-bottom: 15px;

        &__left {

            width: 30%;
            display: flex;
            color: $malibu-light;
            font-size: 1.5rem;
            letter-spacing: -0.15px;
            line-height: 15px;
            justify-content: space-between;
            

        }


        &__right {
            width: 30%;
            color: $malibu-light;
            font-size: 1.5rem;
            letter-spacing: -0.15px;
            line-height: 15px;
        }

        &__three {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &-button__dark {
        border-radius: 4px;
        font-weight: 700;
        color: rgba(255, 255, 255, 0.82);
        background-color: #262525;
        border: none;
        cursor: pointer;
        padding: 12px 20px;
        outline: none;
      
        &:hover {
          color: #262525;
          background: rgba(255, 255, 255, 0.82);
        }
    }

    &-link {
        color: $malibu-light;
        font-size: 1.5rem;
        text-decoration: none;
        display: block;
        text-align: left;
        margin: 5px 0px 8px 0px;

        &__no-hover {
            &:hover {
                color: inherit;
            }
        }

        &:hover {
            color: $malibu;
            text-decoration: none;
        }
    }

    &-heading {
        color: white;
        margin-bottom: 7px;
        font-size: 1.6rem;
        font-weight: 700;
        text-align: left;
    }

    &-input-wrapper {
        position: relative;
        margin-bottom: 20px;
    }

    &-icon {
        position: absolute;
        top: 7px;
        left: 5px; 
        color: rgba(113,113,113,0.82);
        font-size: 1.5rem;
    }

    &-input {
        padding-left: 30px;
        width: 100%;
        color: $light-gray;
        border: none;
        padding-top: 5px;
        padding-bottom: 5px;

        &::placeholder {
            color: $light-gray;
            
        }
    }

    &-cta {
        color: $light-gray;
        font-size: 1.5rem;
        font-weight: 700;
        text-align: left;
        margin: 5px 0px 7px 0px;
    }

    &-brands-wrapper {
        display: flex;
        justify-content: space-between;
        width: 50%;
    }

    &-brand {
        color: #ffffff;
        font-size: 1.6rem;
        cursor: pointer;

        &:hover {
            color: $light-gray;
        }
    }

}


@media (max-width: 1332px) {
    .footer-content__left {
        width: 40%;
    }
}

@media (max-width: 1000px) {
   .footer-content__left {
       width: 45%
   }

   .footer-content__right {
    width: 44%
    }

   .left-column {
       width: 60%;
   }

}

@media (max-width: 905px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
    }

    .footer-content__left {
        width: 70%

    }


    .footer-cta {
        text-align: right;
        margin-top: 25px;
    }

    .footer-link__no-hover {
        text-align: right;
    }

 }

 @media (max-width: 750px) {
    .footer-content__three {
        flex-direction: column;
    }

    .footer-button__dark {
        margin-right: 0px;
        margin-bottom: 15px;
    }

    .footer-brands-wrapper {
        width: 70%;
    }
 }

 @media (max-width: 555px) {

    .footer-content__left {
        width: 90%
    }

    .footer-content__right {
        width: 90%;
    }
 }

 @media (max-width: 390px) {
     .footer-content__left {
        flex-direction: column;
        align-items: center;
     }

     .left-column {
         width: 80%;
         margin-bottom: 20px;
     }

     .right-column {
         width: 80%;
     }

 }