.login-button {
  border-radius: 4px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.82);
  background-color: #262525;
  border: none;
  cursor: pointer;
  padding: 13px 75px;
  outline: none;
  font-size: 2rem;
  margin: 0 auto;
  margin-top: 75px;
  outline: none;

  &:hover {
    color: #262525;
    background: rgba(255, 255, 255, 0.82);
  }
  
}

.section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./Images/home_main.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 63rem;
  width: 100%;
  align-items: center;
  margin: 0 auto;
 & ::placeholder {
   padding-left: 2rem;
 }

  & h1 {
    font-weight: bold;
    color: white;
    font-size: 6rem;
    margin-bottom: 0;
  }
  h2 {
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  h2, input, .navbar-icon{
    transform: translateY(35px);
  }

  &__arrows {
    color: white;
    font-size: 2.5rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    & a {
      color: white;
    }

    & a:hover {
      color: $purple;
    }

    &__icon {
      display: block;
      margin-bottom: -12px;
      position: relative;
      top: 60px;

    }
  }
  
}

.section-2 {

    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 1.6rem;

}

.section-3 {
  background-color: #161515;
  padding-top: 40px;
  padding-bottom: 40px;

  &__content {
    max-width: 1024px;
    width: 80%;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px;

    &__left {
      position: relative;
      width: 40%;
    }

    &__right {

      &__img1 {
        margin-right: 40px;
      }
    }
  }

  &__heading span {
    display: inline-block;

  }

  &__cta {
    color: white;
    text-align: right;
    font-size: 1.4rem;
    margin-top: 35px;

    & span:first-child {
      margin-right: 5px;
    }
  }

  &__border {
    border-bottom: 3px solid white;
    width: 70%;
    
  }

  &__heading {

    

    // &::after {
      
    //   content: '';
    //   position: absolute;
    //   z-index: 3;
    //   left: 0;
    //   right: 0;
    //   bottom: 168px;
    //   height: 3px;
    //   background: white;
    //   border-radius: 10px;
    //   width: 229px;
    
    // }


    &__first {
      font-size: 5rem;
      font-weight: 700;
    }
    
    &__second {
      font-size: 2rem;
      letter-spacing: 1.2px;
    }
    
    &__third {
      font-size: 4rem;
      margin-left: 10px;
    }
    
    &__fourth {
      transform: scale(-1, 1);
      font-size: 4rem;
      line-height: 25px;
      margin-left: 10px;
    }

    &__fifth {

      color: white;
      font-size: 1.5rem;
      margin-top: 15px;
      font-weight: 300;

    }

  }
}


.section-4 {
   background-repeat: no-repeat;
   background-size: cover; 
   padding-top: 40px;
   padding-bottom: 40px;

  &__content {
    align-items: flex-end;
  }

  &__left {
    background-color: #252424;
    max-width: 424px;
    width: 50%;
    padding: 40px 20px;

    & div {
      width: 80%;
    }

    & h2 {
      font-size: 4rem;
      margin-bottom: 14px;
      font-weight: bold;
    }

    & p {
      font-size: 1.8rem;
      color: white;
      font-weight: 300;

      &:not(last-child) {
        margin-bottom: 25px;
      }
    }
  }

  &__right {
    width: 40%;

    & h2 {
      font-size: 5.5rem;
      font-weight: 700;
    }

    & p {
      color: white;
      font-size: 1.6rem;
      font-weight: 300px;
      margin-top: 25px;
    }
  }
}

.section-5 {
  display: flex;

  &__right {
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover; 
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 25px;

    & h2 {
      text-transform: uppercase;
      font-size: 7rem;
      font-weight: 700;
    }
  }

  &__left {
    width: 50%;
    background-color: #2A2A2A;
    color: white;
    padding: 5% 7% 5% 7%;
    font-size: 2.5rem;
    margin-bottom: 0px;
  }
}

.section-6 {
  padding-top: 25px;
  padding-bottom: 25px;

  &__content {
    max-width: 1024px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &_card {
      width: 26%;
      border: 1px solid #979797;

      & img {
        width: 100%;
        height: 250px;
        padding: 15px;
      }

      & h3 {
        border-top: 1px solid #979797;
        text-align: center;
        padding-top: 14px;
        padding-bottom: 6px;
        font-weight: bold;
        color: #4A4A4A;
      }
    }
  }
}

.section-7 {
  text-align: center;
  margin: 40px 0 20px 0;

  & button {
    cursor: pointer;
    border: 2px solid #2A2A2A;
    background-color: #2A2A2A;
    font-size: 3rem;
    color: white;
    padding: 5px 12px;

    &:hover {
      color: #2A2A2A;
      background: white;
    }
  }
}

.card-4, .card-5, .card-6 {
  margin-top: 40px;
}


  h2 {
      color: #fff;
      margin-bottom: 2rem;
      font-size: 3rem;
  }
  h3 { 
      color: #000;
  }

  .privtermslink {
      color: darken(#8d87ff, 45%);
      font-weight: 700;
  }

  p {
      color: gray;
  }


  .login {
    z-index: 1;
    background-color: #fff;
  &-content {
      width: 100%;
      max-width: 1024px;
      justify-content: space-around;
      margin: 0 auto;
      display: flex;
      align-items: center;
      padding-top: 10px;
      padding-bottom: 10px;
      flex-direction: row;
      background-color: #fff;
  }


  &-left {
      display: flex;
      width: 20%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      & h3 {
        font-weight: 700;
      }
  }


  &-right {
      display: flex;
      width: 60%;
      margin-left: 50px;
      justify-content: space-between;
  }

  &-logo {
      display: inline-block;
      margin-right: 42px;
  }

  &-input-wrapper {
      position: relative;
      display: inline-block;
      width: 60%;
      font-size: 1.8rem;
  }

  &-icon {
      position: absolute;
      top: 50px;
      left: 15px; 
      color: black;
      font-size: 1.5rem;
      z-index: 500;
  }

  &-input {
      color: #C2C0C0;
      display: inline-block;
      width: 100%;
      border-radius: 3px;
      box-shadow: 0 4px 13px 0 rgba(181,181,181,0.43);
      border: none;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 5rem;

      &::placeholder {
          color: #C2C0C0;
         
          text-align: left;
      }
      
  }

  &-link {
      font-size: 1.8rem;
      color: $dark-gray;
      text-decoration: none;

      &:hover {
          text-decoration: none;
          color: $purple;
      }

      &__active {
          color: $purple;
      }
  }

  &-mobile {
      display: none;
  }
}

@media (max-width: 1200px) {
  .section-6__content_card {
    width: 30%;
  }

  .section-6__content_card img{
    height: 273px;
  }
}


@media (max-width: 1074px) {
  .section-3__content {
    flex-direction: column;
    align-items: center;
  }

  .section-3__content__left {
    width: 80%;
    margin: 0 auto;
  }

  .section-3__heading::after {
    bottom: 107px;
  }

  .section-3__content__right__img1 {
    margin-top: 30px;
  }

  .section-4__left {
    max-width: 608px;
    width: 80%;
  }

  .section-4__right {
    width: 72%;
    margin-top: 30px;
  }

  .section-6__content {
    justify-content: center;
  }

  .section-6__content_card {
    width: 40%;
  }

  .section-6__content_card img {
    height: 305px;
  }

  .card-3 {
    margin-top: 40px;
  }

}

@media (max-width: 942px) {

  .section-6__content_card img {
      height: 286px;
  }

  .section-5__right h2 {
    font-size: 5rem;
  }

}


@media (max-width: 866px) {

    .section-3__content__left {
        width: 90%;
    }

    .section-6__content_card img {
      height: 266px;
    }

}

@media (max-width: 777px) {

  .section-3__content__left {
      width: 100%;
  }

  .section-6__content_card img {
    height: 237px;
  }

}

@media (max-width: 704px) {

  .section-3__heading::after {
      bottom: 129px;
  }

  .section-6__content {
    flex-direction: column;
    align-items: center;
  }

  .section-6__content_card {
    width: 70%;
  }

  .section-6__content_card img {
    height: auto;
  }

  .card-2 {
    margin-top: 40px;
  }

  .section-5 {
    flex-direction: column;
  }

  .section-5__left {
    width: 100%;
  }

  .section-5__right {
    width: 100%;
  }

}

@media (max-width: 646px) {
  .section-3__content__right__img1 {
    margin-left: 0;
    margin-bottom: 23px;
  }

  .section-4__left {
    width: 100%;
  }

  .section-4__left div {
    width: 95%;
  }

  .section-4__right {
    width: 87%;
  }

}


@media (max-width: 640px) {

  .section-3__heading::after {
      bottom: 152px;
  }

  .section-1 h1 {
    font-size: 5rem;
  }

}

@media (max-width: 522px) {

  .section-1 h1 {
      font-size: 4rem;
  }

  .section-5__left {
    font-size: 2rem;
  }

  .section-3__border {
    width: 90%;
    
  }
}


@media (max-width: 452px) {

  .section-3__heading::after {
      bottom: 176px;
  }

  .section-4__content {
    width: 95%;
  }

  .section-4__left h2 {
    font-size: 3rem;
  }

  .section-4__left p {
    font-size: 1.6rem;
  }

  .section-1 h1 {
      text-align: center;
      width: 80%;
  }
}

@media (max-width: 400px) {

  .section-3__heading::after {
      bottom: 197px;
  }

}

@media (max-width: 400px) {

  .section-3__heading::after {
      width: 181px;
      height: 2px;
  }

  .section-3__heading__third, .section-3__heading__fourth {
    font-size: 3rem;
  }

  .section-3__heading__first {
    font-size: 4rem;
  }

  .section-3__heading__second {
    font-size: 1.5rem;
  }

}

@media (max-width: 359px) {

  .section-3__heading::after {
      bottom: 221px;
  }

  .section-5__right h2 {
    font-size: 4rem;
  }

}

.parallax-inner {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: fit-content;
}