@media (max-width: 700px) {
  .mainContent {
    transform: translateY(-34px);
    transition: all 0.5s;
  }

  .slideDown {
    transform: translateY(172px);
  }

  .app-wrapper {
    height: 100vh;
  }
}

.app-wrapper {
  display: -webkit-flex;
  flex-direction: column;
  height: 100vh;
}

.footer {
  margin-top: auto;
}
