//BASIC RESET

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: "Roboto", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
a {
  cursor: pointer;
}

// COLORS
$tundora: #4a4a4a;
$malibu: rgb(141, 135, 255);
$malibu-light: rgba(141, 135, 255, 0.59);
$silver_halice: #AAA8A8;
$god-gray: #1B1B1B;

//VARIABLES
$light-gray: $silver_halice;
$medium-gray: $tundora;
$dark-gray: $god-gray;
$purple: $malibu;
$purple-light: $malibu-light;

//GLOBAL CLASSES
@import "./App.scss";

//SASS FILES OF COMPONENTS

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@import "./components/Footer/footer";
@import './components/Nav/nav';


@import "./components/Login/login";

@import "./components/Owner/profile";
@import "./components/Register/register";
@import "./components/CreateListing/createListing";
