
  header {
    height: 7rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

  }
  .nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    
  }

  

  h3 {
    font-weight: 700;
  }
  .nav-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 17%;
  }

  li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: #000;
  }
  .howitworks {
    color: rgba(141, 135, 255, 0.59);
    font-weight: 700;
  }

  
  
