.navbar {
  &-content {
      width: 70%;
      max-width: 1024px;
      justify-content: space-around;
      margin: 0 auto;
      display: flex;
      align-items: center;
      padding-top: 10px;
      padding-bottom: 10px;
      flex-direction: row;
  }


  &-left {
      display: flex;
      width: 20%;
      flex-direction: row;
      align-items: center;
      & h3 {
        font-weight: 700;
      }
  }


  &-right {
      display: flex;
      width: 60%;
      margin-left: 50px;
      justify-content: space-between;
  }

  &-logo {
      display: inline-block;
      margin-right: 42px;
  }

  &-logo__text {
      text-decoration: none;
      color: #000000;
      font-weight: 700;
      font-size: 1.7rem;
      margin-left: 20px;
      
      &:hover {
          text-decoration: inherit;
          color: $malibu; 
      }
  }

  &-input-wrapper {
      position: relative;
      display: inline-block;
      width: 60%;
      font-size: 1.8rem;
  }

  &-icon {
      position: absolute;
      top: 15px;
      left: 15px; 
      color: black;
      font-size: 1.5rem;
      z-index: 500;
  }

  &-input {
      color: #C2C0C0;
      display: inline-block;
      width: 100%;
      border-radius: 3px;
      box-shadow: 0 4px 13px 0 rgba(181,181,181,0.43);
      border: none;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 30px;

      &::placeholder {
          color: #C2C0C0;
      }
  }

  &-link {
      font-size: 1.7rem;
      color: $dark-gray;
      text-decoration: none;

      &:hover {
          text-decoration: none;
          color: $purple;
      }

      &__active {
          color: $purple;
      }
  }

  &-mobile {
      display: none;
  }
}

@media (max-width: 1000px) {
  .navbar-right {
      width: 60%;
  }

}

@media (max-width: 801px) {
  .navbar-link {
      font-size: 1.5rem;
  }

}

@media (max-width: 580px) {
  .navbar-right {
      width: 90%;
  }

}

@media (max-width: 550px) {
  .navbar-content {
      justify-content: space-between;
      align-items: center;
  }

  .navbar-right {
      display: none;
  }

  .navbar-mobile {
      display: block;
      font-size: 2.5rem;
      color: $dark-gray;
  }

  .navlinks-mobile {
      background: $medium-gray;
      color: $purple-light;

  }

  .navlinks-mobile .navlink-mobile {
      display: block;
      width: 80%;
      margin: 0 auto;
      padding: 8px 0px;
      color: $light-gray;
      font-size: 1.5rem;
  }
}